@use './variables';

$breakpoint-mobile-max: 767.98px;
$breakpoint-tablet-min: 768px;
$breakpoint-tablet-max: 991.98px;
$breakpoint-computer-min: 992px;
$breakpoint-large-screen-min: 1200px;
$breakpoint-widescreen-min: 1400px;

@mixin mobile-only {
  @media only screen and (max-width: $breakpoint-mobile-max) {
    @content;
  }
}

@mixin tablet-up {
  @media only screen and (min-width: $breakpoint-tablet-min) {
    @content;
  }
}

@mixin computer-up {
  @media only screen and (min-width: $breakpoint-computer-min) {
    @content;
  }
}
