:root {
	--header-height: 45px;
	--footer-height: 60px;
	--typeahead-search-results-gap: 0.5rem;
	--typeahead-search-results-width: 530px;
	--typeahead-search-results-position-right: 32px;
	--scroll-offset: 20px;
}
